:root {
  --solana-green: #00FFA3;
  --solana-purple: #9945FF;
  --solana-dark: #141414;
  --solana-gray: #202020;
  --text-light: #ffffff;
  --text-dark: #141414;
}

body {
  background-image: url('../../public/img/fond.jpg');
  background-color: #202020;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

div .auth-container{
    max-width: 400px;
    margin: auto;
    margin-top: 10%;
    padding: 3em;
    background-color: rgba(255, 255, 255, 0.1);
    border : 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    transition: all 0.3 ease;
    color: #fff;
  }

  div .insc-container{
    max-width: 400px;
    margin: auto;
    margin-top: 5%;
    padding: 3em;
    background-color: rgba(255, 255, 255, 0.1);
    border : 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    transition: all 0.3 ease;
    color: #fff;
  }
  
  h2 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 0.5em;
  }

  .auth-container .auth-card .text-center a {
    color: var(--solana-green);
    font-weight: bold;
    text-decoration: none;
  
    /* Animation au survol */
    transition: color 0.3s ease;
  }
  
  .auth-container .auth-card .text-center a:hover {
    color: #40d545;
  }
  
  input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 0.7em;
    border: none;
    border-radius: 5px;
    background-color: var(--solana-purple) !important;
    border: var(--solana-purple) !important;
    color: white;
    font-size: 1em;
    cursor: pointer;
  }
  
  /* Animation cryptage message */
  .welcome-message h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: bold;
    transition: all 0.5s ease;
  }
  
  .welcome-message h1.crypting {
    opacity: 0.8;
    color: #666;
    letter-spacing: 0.05em;
  }
  
  .welcome-message h1.completed {
    opacity: 1;
    color: #333;
    letter-spacing: normal;
  }

  /* Notification */

  .notification {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 320px;
    color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .notification .close-btn {
    position: absolute;
    margin-left: 85%;
    margin-bottom: 85%;
    padding-bottom: 1.5em !important;
    background: transparent !important;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }

  .notification.success {
    background-color: #4CAF50; /* Vert pour les messages de succès */
  }

  .notification.error {
    background-color: #f44336; /* Rouge pour les messages d'erreur */
  }
  
  .progress-bar {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #d3d3d3;
    margin-top: 16px;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .progress {
    height: 100%;
    background-color: #ffffff;
    transition: width 0.1s linear;
  }
  
  .notification .close-btn {
    position: absolute;
    top: 8px;
    left: 8px;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .password-critere {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 5px;
    color: #888;
  }
  
  .password-critere p {
    margin: 4px 0;
  }
  
  .password-critere .valid {
    color: #8bc34a;
  }
  
  .password-critere .invalid {
    color: #f44336;
  }
  
  .password-strength-bar {
    width: 100%;
    height: 5px;
    background-color: #d3d3d3;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .strength {
    height: 100%;
    border-radius: 4px;
    transition: width 0.3s;
  }